body{
    background-color: black;
    text-align: center;
}

p{
    margin-left: 35vw;
    margin-top: -15vw;
    display: flex; flex-direction: column;
}

button{
    height: 30px;
    width: 50px;
    margin: 10px;
    border: none;
    border-top-right-radius: 10px; border-bottom-left-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:active{
    border: 2px solid rgb(118, 220, 118);
    box-shadow: 5px 5px 50px rgb(118, 220, 118);
}

button:nth-child(2):active {
    border: 2px solid rgb(118, 220, 118);
    box-shadow: 5px 5px 50px rgb(239, 0, 0);
}